body{
    background-image: linear-gradient(var(--Bmid),var(--Bprimary),var(--Bdark),var(--Bdark),var(--BlightDark),var(--Bprimary), var(--Bsecondary));;
    /* overflow-x: hidden; */
   
    height: 100vh;
}
nav .logo{
    font-weight: 700;
    text-decoration: none;
    letter-spacing:3px;
    font-size: 32px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 15px 8px 0;
}
nav ul li{
    display: inline-block;
    margin: 0 25vh;
}
.body2::after{
content: "";
width: 100%;
height: 100%;
background: white;
position: absolute;
z-index: -1;
clip-path: circle(50.0% at 10% 50%);
}
.body2{
    display: flex;
    height: 100%;
    max-width: 100%;
    background:(255,255,255,0.1);
    justify-content:center;
    align-items:center;
    overflow:hidden;
    border-radius:10px;

}
.Hackathon{
 letter-spacing:6px;
}
.flex2{
    display: flex;
    width: 100%;
    height: 35%;
    flex-direction: column;
    align-items: flex-end;
}
.logoPannel .flex2 .text{
    flex-grow: 4;
    margin-right: end;
    align-self:flex-start;
}
.logoPannel .text h2{
    font-size: 80px;
}
.logoPannel .logo{
    margin-right: -.5cm;
    width: 100%;
}
.logoPannel p{
    padding-right: 10px;
    border-right: 4px solid rgb(55, 85, 136);
}
  .logoPannel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    column-gap: 40%;
    align-items: center;
    flex-basis: auto;
    height: 100%;
    width:80%;
  
  }

  .column{
    align-self: flex-start;
    order: 2;    
  }
  .column1{
    order: 3;
  }
 